.navbar-brand {
  padding: 0px !important;
  margin: 0px !important;
}
.navbar-brand img {
  width: auto;
  height: 81px;
}
.navbar-duandee {
  padding: 0px !important;
  width: auto;
  height: 81px !important;
  background: var(--violet, linear-gradient(180deg, #4b3688 0%, #211942 100%));
}
.btn-package {
  width: 152px;
  height: 46px;
  color: #7160b0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  background: linear-gradient(203deg, #fff 0%, #bbb 100%);
}
.btn-point {
  /* margin-right: 10px; */
  width: 109px;
  height: 46px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  background: var(
    --pink-violet,
    linear-gradient(229deg, #734ffa 0%, #ef649e 100%)
  );
}
.btn-point img {
  margin-top: -2px;
}
