@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;600;700&family=Mulish:wght@800&display=swap");

html {
  transition: font-size 12s;
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Sans Thai" !important;
  // background-image: url("../../../assets/img/bg/background-desktop.jpg");
  background-size: cover; /* Set background image to cover the container */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: center; /* Center the background image */
}

@media (max-width: 768px) {
  :root {
    // background-image: url("../../../assets/img/bg/background-mobile.png");
    background-size: auto; /* Let the background image maintain its original size */
    background-repeat: repeat; /* Allow image to repeat if necessary */
    background-position: left top; /* Position the background image at the top left */
  }
}
