@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Noto Sans Thai", sans-serif !important;
}
.bg-img {
  background-image: url("../../../assets/img/bg/background-desktop.jpg");
  height: auto;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .bg-img {
    background-image: url("../../../../public/assets/img/register/main-bg.png");
    height: auto;
    min-height: 100vh;
  }
}

.card-main {
  margin-bottom: 50px;
  margin-top: -50px;
  border-radius: 15px;
  background: #06001c;
  box-shadow: 0px -1px 10px 2px rgba(26, 14, 73, 0.76);
  width: 350px;
  height: auto;
}

.card-main h1 {
  color: #ffc100;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.card-main label {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-main span {
  color: #ffc100;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-main button {
  margin-top: 45px;
  margin-bottom: 33px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  border-radius: 30px;
  background: linear-gradient(229deg, #734ffa 0%, #ef649e 100%);
}
.card-main .form-check-label {
  color: #fff;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-main input {
  color: #828282 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #828282 !important;
  background: #fff !important;
}
.card-main select {
  color: #828282 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #828282 !important;
  /* background: #fff !important; */
}
.card-main button:hover {
  color: #fff;
}
