.card-tab-body {
  position: relative; /* Set the position to enable z-index */
  margin-top: -9px !important;
  /* width: 100%; */
  border-radius: 10px !important;
  max-width: auto;
  height: 292px;
  box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.43);
  background-image: url("../../../../public/assets/img/dashboard/new-card-zodiac-bg.png");
  background-size: cover;
  z-index: 12; /* Ensure this is a positive integer value */
}

.text-username {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-username {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.text-side {
  padding-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-detail {
  padding-top: 8px;
  text-align: left;
  color: #fff;
  font-size: 12px;
}

.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
