.tab {
  width: auto;
  height: 425px;
  background-image: url("../../../../public/assets/img/dashboard/background-tab.png");
  background-size: cover;
}
.tab-pane {
  background-image: url("../../../../public/assets/img/dashboard/card-zodiac.png");
  background-size: cover;
}

.tab .card {
  height: auto;
  width: 100%;
  max-width: 330px;
  border: none;
  background: none;
}

.tab .card .btn-1 {
  width: 111px;
  height: 50px;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 4px 2px 10px 0px rgba(0, 0, 0, 0.43);
  z-index: 10;
  background: #2e2257;
  color: #afa3de;
}

.btn-active {
  color: #ffc100 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(
    --violet,
    linear-gradient(180deg, #4b3688 0%, #211942 100%)
  ) !important;
}

.btn-active:hove {
  color: #ffc100 !important;
}
.btn-active:active {
  color: #ffc100 !important;
}
.btn-2 {
  width: 121px;
  height: 50px;
  border-radius: 8px 8px 0px 0px;
  background: #2e2257;
  box-shadow: 4px 2px 10px 0px rgba(0, 0, 0, 0.43);
  color: #afa3de;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: -10px !important;
  z-index: 9;
}
.btn-3 {
  width: 121px;
  height: 50px;
  border-radius: 8px 8px 0px 0px;
  background: #2e2257;
  box-shadow: 4px 2px 10px 0px rgba(0, 0, 0, 0.43);
  color: #afa3de;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: -10px !important;
  z-index: 8;
}
.btn-4 {
  width: 121px;
  height: 50px;
  border-radius: 8px 8px 0px 0px;
  background: #2e2257;
  box-shadow: 4px 2px 10px 0px rgba(0, 0, 0, 0.43);
  color: #afa3de;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: -10px !important;
  z-index: 7;
}

.btn-2:hover,
.btn-3:hover,
.btn-4:hover {
  color: #afa3de;
}

.btn-further-horoscope {
  margin-top: 5px;
  color: #2e2257;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid #7160b0;
  background: var(
    --inactive,
    linear-gradient(180deg, #bcade7 0%, #7160b0 100%)
  );
}
