.CardLuckyNumber {
  width: auto;
  height: 180px;
  border-radius: 5px;
  border-radius: 5px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url("../../../../public/assets/img/dashboard/new-img.png") !important;
}

.CardLuckyNumber .card {
  width: auto;
  height: 180px;
  border-radius: 5px;
  border-radius: 5px;
  background: linear-gradient(
    213deg,
    rgba(144, 133, 180, 0.41) 4.82%,
    rgba(0, 0, 0, 0.41) 99.55%
  ) !important;
}

.CardLuckyNumber .icon-lock {
  width: 78px;
  height: 97px;
}

.CardLuckyNumber .card p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.CardLuckyNumber .card button {
  width: 86px;
  height: 40px;
  border-radius: 10px;
  background: var(
    --white-cad,
    linear-gradient(213deg, #f3f3f3 4.82%, #fff 99.55%)
  );
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
