.bg-menubar {
  width: auto;
  height: 78px;
  background: #fff;
  box-shadow: 0px 1px 14px 1px rgba(26, 14, 73, 0.34);
}
.card-menu p {
  color: #7160b0;
  font-size: 14px;
}
.bg-card-menu {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: var(
    --inactive,
    linear-gradient(180deg, #bcade7 0%, #7160b0 100%)
  );
}

.menu-active {
  background: linear-gradient(180deg, #ffedb7 0%, #ffc100 100%) !important;
}
