.CardPredict .card {
  border-radius: 5px;
  border: 1px solid #b6afcd;
  background: var(
    --white-cad,
    linear-gradient(213deg, #f3f3f3 4.82%, #fff 99.55%)
  );

  /* shadow */
  box-shadow: 1px 3px 3px -1px rgba(0, 0, 0, 0.17);
}
.CardPredict .card-header {
  font-family: "IBM Plex Sans Thai" !important;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px 5px 0px 0px;
  background: var(
    --pink-violet,
    linear-gradient(229deg, #734ffa 0%, #ef649e 100%)
  );
}

.CardPredict .card-body img {
  min-height: 143px;
  height: auto;
}

.CardPredict .card-footer a {
  color: #2e2257 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.CardPredict .ant-card-body p {
  font-family: "IBM Plex Sans Thai" !important;
  color: #7160b0;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.anticon {
  vertical-align: 0em !important;
}
