.cardDailyAdvice .ant-card {
  box-shadow: 1px 3px 3px -1px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  border: 1px solid #b6afcd;
}

.cardDailyAdvice .ant-card-body {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardDailyAdvice .ant-card-head {
  font-family: "IBM Plex Sans Thai" !important;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px 5px 0px 0px;
  background: var(--violet, linear-gradient(180deg, #4b3688 0%, #211942 100%));
}

.cardDailyAdvice .ant-card-body p {
  font-family: "IBM Plex Sans Thai" !important;
  width: 236px;
  color: #7160b0;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cardDailyAdvice .ant-card-body img {
  width: 87px;
  height: 87px;
}
