.CardPaper {
  width: auto;
  height: 192px;
  background: url("../../../../public/assets/img/dashboard/bg-paper.png");
}

.CardPaper .card {
  width: auto;
  height: 182px;
  background: none;
}

.CardPaper .card img {
  margin-top: 10px;
  width: 153px;
  height: 152px;
}

.CardPaper .card a {
  position: absolute;
  background: var(
    --violet,
    linear-gradient(180deg, #4b3688 0%, #211942 100%)
  ) !important;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 175px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 36px !important;
  bottom: 0px !important;
}
